
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chocolate;
}


div {
    text-align: center;
    margin: 20px;
}

.circle-images {
    border-radius: 100%;
    overflow: hidden;
    width: 100px; 
    height: 100px; 
}

h1 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
